<!DOCTYPE HTML>
<html>
<head>
<title>Welcome</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href={{url_for('static', filename='css/home.css')}} />
<link rel="stylesheet" href={{url_for('static', filename='css/topStyle.css') }} />
<link rel="stylesheet" href={{url_for('static', filename='css/style.css') }} />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<body>
<div id="header" style="background-color: #C70102;">
	<h1><img src={{url_for('static', filename='images/logo.gif')}} width="500px" height="63px" alt="Online Book Store" style="padding-left: 200px; align-items: center;" /></h1>
	<img src={{url_for('static', filename='images/header_2.jpg')}} width="100%" height="253px" alt="Books" /> 
</div>
<div id="title" style="padding-left: 1050px; float: right;">
	{% if not loggedIn %}
	<div id="signInButton">
		<a class="link" href="/loginForm">Sign In</a>
	</div>
	{% else %}
	<div class="dropdown">
		<button class="dropbtn">Hello, <br>{{name}}</button>
		<div class="dropdown-content">
			<a href="/orders">Your orders</a>
			<hr>
			<a href="/logout">Sign Out</a>
		</div>
	</div>
	{% endif %}
	<div id="kart">
		<a class="link" href="/cart">
			<img src={{url_for('static', filename='images/shoppingCart.png')}} id="cartIcon" />
			CART {{noOfItems}}
		</a>
	</div>
</div>
<div class="display">
	<div id="main">
		<h2>Items</h2>
		<div class="row">
		{% for data in itemData %}
			<div class="col-md-6" style="border: solid red;">
			<table>
				<tr id="productName">
					
					<td>
						{{data[1]}}
					</td>
					
				</tr>
				<tr id="productImage">
					
					<td>
					<a href="/productDescription?productId={{data[0]}}">
					<img src="{{data[4]}}" id="productImage">
					</a>
					</td>
					
				</tr>
				<tr id="productPrice">				
					<td>
						Price: ${{data[2]}}
					</td>					
				</tr>
			</table>
			</div>
		
		{% endfor %}
		</div>
	</div>
</div>
</body>
</html>