<!DOCTYPE HTML>
<html>
<head>
<title>Remove</title>
<link rel="stylesheet" href={{url_for('static', filename='css/remove.css')}}>
</link>
</head>
<body>
	<a href="/">
	<img id="logo" src= {{ url_for('static', filename='images/logo.png') }} />
	</a>
	<form>
		<input id="searchBox" type="text" name="searchQuery">
		<input id="searchButton" type="submit" value="Search">
	</form>
<table>
	{% for i in range(3) %}
	<tr>
		{% for row in data %}
		<td>
			<a href="/removeItem?productId={{row[0]}}">
			{% if i == 4 %}
				<img src={{ url_for('static', filename='uploads/' + row[i]) }} id="itemImage" />
			{% else %}
				{{row[i]}}
			{% endif %}
			</a>
		</td>
		{% endfor %}
	</tr>
	{% endfor %}
</table>
</body>
</html>
